<body id="billsBody">
    <div class="wrapper">
        <header>
            <img src="https://raw.githubusercontent.com/projektzespolowybudzet/zarzadzaniebudzetemprojekt/4f9fad34c7aafdbf90e5b59be81facc9d8327d36/public/assets/Style/dolarek-logo-zip-file/svg/logo-no-background.svg"
                 width="230" height="150">
            <h4 class="link-left"><a class="dashboardLink">Analiza</a></h4>
            <h4 class="link-left"><a tabindex="0" class="budgetLink">Konta</a></h4>
            <h4 class="link-left"><a class="entriesLink">Transakcje</a></h4>
            <h4 class="link-left"><a tabindex="0" class="billsLink">Rachunki</a></h4>
            <h4 class="link-left"><a tabindex="0" class="profileLink">Kategorie</a></h4>
            <h4 class="link-left"><a class="profileLink">Profil</a></h4>
            <h4 class="pageTitle">Witaj {{preferredName}}!</h4>
            <div style="margin-top: 35px"><a class="logOut"><img src="https://raw.githubusercontent.com/projektzespolowybudzet/zarzadzaniebudzetemprojekt/77f8f006ff700acb535240bfb730014f75b2ac0c/public/assets/Style/logout_FILL0_wght400_GRAD0_opsz48.svg"></a></div>
        </header>
        <section>
            <div class="container">
                <div class="col s12">
                    <h3 class="pageSubTitle">Rachunki</h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {{!-- handlebars goes here --}}
                    {{#each events}}
                    <div class="col l4 m6 s12">
                        <div class="bill-entry">
                            <div class="bill-entry-title">
                                <h5>{{description}}</h5>
                            </div>
                            <div class="bill-body">
                                <p class="bill-entry-text">Data: {{date}}</p>
                                <p class="bill-entry-text">Kategoria: {{catName}}</p>
                                <p class="bill-entry-text">Kwota: ${{amount}} </p>
                                <button class="btn btn-large buttonDelete" data-billId="{{eventId}}">Usuń Rachunek</button>
                            </div>
                        </div>
                    </div>
                    {{!-- handlebars end --}}
                    {{/each}}
                </div>

            </div>
        </section>
    </div>
    <div class="push"></div>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span class="date-text">© 2022 Copyright</span>
            </div>
        </div>
    </footer>

    <script src="/assets/js/bills.js"></script>
</body>