<body id="spendingBody">
    <div class="wrapper">
        <header>
            <img src="https://raw.githubusercontent.com/projektzespolowybudzet/zarzadzaniebudzetemprojekt/4f9fad34c7aafdbf90e5b59be81facc9d8327d36/public/assets/Style/dolarek-logo-zip-file/svg/logo-no-background.svg"
                 width="230" height="150">
            <h4 class="link-left"><a class="dashboardLink">Analiza</a></h4>
            <h4 class="link-left"><a tabindex="0" class="budgetLink">Konta</a></h4>
            <h4 class="link-left"><a class="entriesLink">Transakcje</a></h4>
            <h4 class="link-left"><a tabindex="0" class="billsLink">Rachunki</a></h4>
            <h4 class="link-left"><a tabindex="0" class="profileLink">Kategorie</a></h4>
            <h4 class="link-left"><a class="profileLink">Profil</a></h4>
            <h4 class="pageTitle">Witaj {{preferredName}}!</h4>
            <div style="margin-top: 35px"><a class="logOut"><img src="https://raw.githubusercontent.com/projektzespolowybudzet/zarzadzaniebudzetemprojekt/77f8f006ff700acb535240bfb730014f75b2ac0c/public/assets/Style/logout_FILL0_wght400_GRAD0_opsz48.svg"></a></div>
        </header>
        <section>
            <div class="container">
                <div class="row">
                    {{!-- Left Panel --}}
                    <div class="col l6 s12">
                        <h3 class="pageSubTitle b-text">Zobacz Budżety</h3>
                        {{#each combinedData}}
                        <div class="cap-item dash-cap">
                            <div class="row sel-catName">
                                <h5 class="b-text center-align">{{cat}}</h5>
                                {{!-- bar goes here --}}

                                <div class="skillbar clearfix " data-percent="{{catCapF}}%">
                                    <div class="skillbar-title" style="background: #142d4c;"></div>
                                    <div class="skillbar-bar" style="background: #addce4; max-width: 100%"></div>
                                    <div class="skill-bar-percent">Całkowita wydana kwota {{catCapF}}%</div>
                                </div>

                                <div class="skillbar clearfix " data-percent="{{catWarnF}}%">
                                    <div class="skillbar-title" style="background: #142d4c;"></div>
                                    <div class="skillbar-bar" style="background: #ffed78; max-width: 100%"></div>
                                    <div class="skill-bar-percent">Ostrzeżenie przy {{catWarnF}}%</div>
                                </div>

                            </div>
                            <div class="row">
                                {{!-- bar stops --}}
                                {{!-- {{/each}} --}}
                                <div class="input-field col s12">
                                    <input disabled value={{catTotalF}} id="disabled" type="text" class="validate">
                                    <label for="disabled">Całkowita kwota wydana w tym miesiącu</label>
                                </div>
                            </div>
                            <div class="row sel-budget">
                                <div class="input-field col s12">
                                    <input disabled value={{catCap}} id="disabled" type="text" class="validate">
                                    <label for="disabled">Kwota Budżetu</label>
                                </div>
                            </div>
                            <div class="row sel-warning">
                                <div class="input-field col s12">
                                    <input disabled value={{catWarn}} id="disabled" type="text" class="validate">
                                    <label for="disabled">Kwota ostrzeżenia</label>
                                </div>
                            </div>
                            <div class="row">
                                <a id="toBudgetForm" class="btn btn-large bigButton">Dodaj do formularza</a>

                            </div>

                        </div>
                        {{/each}}
                    </div>
                    {{!-- Right panel --}}
                    <div class="col l6 s12">
                        <h3 class="pageSubTitle b-text">Edytuj Budżety</h3>
                        <form id="budgetForm" class="cap-item">
                            <div class="input-field s12">
                                <select name="categoryList" id="categoryList">
                                    {{!-- enter handlebars for this part --}}
                                    <option value="" disabled selected>Wybierz kategorię</option>
                                    {{#each catNames}}
                                    <option data-name="{{cat}}" value="{{@index}}">{{cat}}</option>
                                    {{/each}}
                                </select>
                                <br>
                                <div class="input-field s12">
                                    <input type="text" id="targetAmount" tabindex="0" class="spending-input b-text"
                                        placeholder="Enter Target Amount">
                                    <label for="targetAmount" class="spending-label b-text">Docelowa kwota budżetu</label>
                                </div>
                                <br>
                                <div class="input-field s12">
                                    <input type="text" id="warningAmount" tabindex="0" class="spending-input b-text"
                                        placeholder="Enter Warning Amount">
                                    <label for="warningAmount" class="spending-label b-text">Kwota ostrzeżenia</label>
                                </div>


                            </div>

                            <button id="updateBudget" href="/caps/1" type="submit"
                                class="btn btn-large bigButton">Zaktualizuj Budżet</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="push"></div>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span class="date-text">© 2022 Copyright</span>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="/assets/js/caps.js"></script>
</body>