<body id="spendingBody">
    <div class="wrapper">
        <header>
            <img src="https://raw.githubusercontent.com/projektzespolowybudzet/zarzadzaniebudzetemprojekt/4f9fad34c7aafdbf90e5b59be81facc9d8327d36/public/assets/Style/dolarek-logo-zip-file/svg/logo-no-background.svg"
                 width="230" height="150">
            <h4 class="link-left"><a class="dashboardLink">Analiza</a></h4>
            <h4 class="link-left"><a tabindex="0" class="budgetLink">Konta</a></h4>
            <h4 class="link-left"><a class="entriesLink">Transakcje</a></h4>
            <h4 class="link-left"><a tabindex="0" class="billsLink">Rachunki</a></h4>
            <h4 class="link-left"><a tabindex="0" class="profileLink">Kategorie</a></h4>
            <h4 class="link-left"><a class="profileLink">Profil</a></h4>
            <h4 class="pageTitle">Witaj {{preferredName}}!</h4>
            <div style="margin-top: 35px"><a class="logOut"><img src="https://raw.githubusercontent.com/projektzespolowybudzet/zarzadzaniebudzetemprojekt/77f8f006ff700acb535240bfb730014f75b2ac0c/public/assets/Style/logout_FILL0_wght400_GRAD0_opsz48.svg"></a></div>
        </header>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h3 class="pageSubTitle">Zobacz Wydatki</h3>
                        <div id="spendingSection">
                            {{#each events}}
                            <div class="spending-item">
                                <p class="spending-text">{{description}}</p>
                                <span>{{date}} | ${{amount}} </span>
                                <button class="btn spending-delete" data-entryId="{{eventId}}">Skasuj</button>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col l6 s12">
                        <h3 class="pageSubTitle">Dodaj do Wydatków</h3>
                        <form id="spendingForm">
                            <div class="input-field s12">
                                <label for="desc" class="spending-label">Opis</label>
                                <input type="text" id="desc" tabindex="0" class="spending-input"
                                    placeholder="Podaj opis transakcji">
                            </div>
                            <div class="input-field s12">
                                <label for="amount" class="spending-label">Kwota</label>
                                <input type="text" id="amount" tabindex="0" class="spending-input"
                                    placeholder="Podaj kwote transakcji">
                            </div>

                            <div class="input-field s12">
                                <select name="categoryList" id="spendingList">
                                    {{!-- enter handlebars for this part --}}
                                    <option value="" disabled selected>Wybierz kategorię</option>
                                    {{#each catNames}}
                                    <option value="{{@index}}">{{cat}}</option>
                                    {{/each}}
                                </select>

                            </div>
                            <div class="input-field s12">
                                <p>
                                    <label class="spending-label">
                                        <input type="checkbox" value="true" id="isBill" />
                                        <span>Potwarzający się wydatek?</span>
                                    </label>
                                </p>
                            </div>

                            <input type="text" class="datepicker" id="date" placeholder="Podaj datę transakcji">
                            <button type="submit" class="btn btn-large bigButton">Dodaj do wydatków</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="push"></div>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span class="date-text">© 2022 Copyright</span>
                <a class="right btn footer-button logOut">Wyloguj</a>
            </div>
        </div>
    </footer>
    <script src="/assets/js/entries.js"></script>
</body>