<body id="spendingBody">
    <div class="wrapper">
        <header>
            <div class="container">
                <h4 class="link-left"><a href="/" tabindex="0" class="dashboardLink">Panel</a></h4>
                <h4 class="link-right"><a href="/profile" tabindex="0" class="profileLink">Profil</a></h4>
                <h1 class="pageTitle">Wydatki</h1>
            </div>
        </header>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h3 class="pageSubTitle">Zobacz Wydatki</h3>
                        <div id="spendingSection">
                            {{#each events}}
                            <div class="spending-item">
                                <p class="spending-text">{{description}}</p>
                                <span>{{date}} | ${{amount}} </span>
                                <button class="btn spending-delete" data-entryId="{{eventId}}">Skasuj</button>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col l6 s12">
                        <h3 class="pageSubTitle">Dodaj do Wydatków</h3>
                        <form id="spendingForm">
                            <div class="input-field s12">
                                <label for="desc" class="spending-label">Opis</label>
                                <input type="text" id="desc" tabindex="0" class="spending-input"
                                    placeholder="Enter purchase description">
                            </div>
                            <div class="input-field s12">
                                <label for="amount" class="spending-label">Kwota</label>
                                <input type="text" id="amount" tabindex="0" class="spending-input"
                                    placeholder="Enter purchase amount">
                            </div>

                            <div class="input-field s12">
                                <select name="categoryList" id="spendingList">
                                    {{!-- enter handlebars for this part --}}
                                    <option value="" disabled selected>Wybierz kategorię</option>
                                    {{#each catNames}}
                                    <option value="{{@index}}">{{cat}}</option>
                                    {{/each}}
                                </select>

                            </div>
                            <div class="input-field s12">
                                <p>
                                    <label class="spending-label">
                                        <input type="checkbox" value="true" id="isBill" />
                                        <span>Potwarzający się wydatek?</span>
                                    </label>
                                </p>
                            </div>

                            <input type="text" class="datepicker" id="date" placeholder="Enter purchase date">
                            <button type="submit" class="btn btn-large bigButton">Dodaj do wydatków</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="push"></div>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span class="date-text">© 2022 Copyright</span>
                <a class="right btn footer-button logOut">Wyloguj</a>
            </div>
        </div>
    </footer>
    <script src="/assets/js/entries.js"></script>
</body>